[2012-09-27 05:24] stonier opened #1 "Bumper sensor in navigation"
They added bump sensors to the navigation recently in 339f3dbf6726109460e2483906fd730f76a63151

Check it out for kobuki, we probably need to be publishing something here.

[2012-09-27 05:37] stonier opened #2 "Kobuki laser launchers"
The turtlebot_navigation launchers need some updating for kobuki...don't even know if they really work or they are still used by turtlebot 1.

[2012-09-28 05:14] stonier opened #3 "Merge in kobuki apps"
Most are the same, we have a different chirp.

Not going to worry about doing anything different for turtlebot2 till we have a better gateway model/android pairing setup a few months down the line (us, austin and osrf).

Don't forget to update the app manager installed lists - turtlebot/turtlebot/issues/15

[2012-09-28 05:25] stonier opened #4 "Mongodb"
See if we can directly use ubuntu's mongodb package now.

I note that it's use is commented out in the mongodb ros package - it uses an internally compiled (downloaded?) package.

[2012-09-28 05:28] stonier commented on #4
Another note - it bugs out if you have the system /etc/init.d/mongodb running.

I think I've read that it's also a good idea not to run two mongodb instances side by side since they have a policy of grabbing as much ram as they can find. Check if that's the reason for it bombing before.

[2012-09-28 05:57] stonier opened #5 "Why do we look like smurfs in android teleop?"
Something's either up with the kinect camera or our xoom.

[2012-09-28 06:32] LucidOne commented on #5
BGR -> RGB I don't understand why but the OpenNI driver changed at some
point.

On Thu, 2012-09-27 at 22:57 -0700, Daniel Stonier wrote:

[2012-09-28 06:55] stonier commented on #5
Hmm...easily fixable without recompiling the android app?

[2012-09-28 06:56] yhju commented on #5
Daniel, have you tried another kinect?

[2012-09-28 13:04] stonier commented on #5
No - though if bill's right, it'll be the same.

[2012-10-08 01:23] jihoonl commented on #3
e640fd9118ba6c1f15d4942b81946b85b53ce5c4

Done

[2012-10-08 01:23] #3 closed, assigned to stonier

[2012-10-08 03:24] stonier commented on #3
Is chirp chirping (or mooing)?

[2012-10-08 04:24] jihoonl commented on #3
Yeah working! :D

[2012-10-14 01:47] stonier opened #6 "Map Store not getting compiled"
It must be out of the loop in the compile sequence.

[2012-10-14 01:48] #6 closed, assigned to stonier

[2012-10-14 01:51] stonier opened #7 "Smoother for the Keyboard Teleop"
Existing teleop was very bang bang.

Young Hoon write a smoother for it, merge it.

[2012-10-14 01:52] stonier commented on #7
Jihoon did this in 89cf1758a74c499aad458f555ea300cfa1c723e0

[2012-10-14 01:52] #7 closed, assigned to stonier

[2012-10-14 01:55] stonier commented on #2
Did this in 6e60a7d113196e44925a3ac7b581015f89e18782

They're working now. Just need to add bumper sensor information, #1

[2012-10-14 01:55] #2 closed, assigned to stonier

[2012-10-17 01:12] stonier opened #8 "Panorama App"
Resurrect our really old kobuki panorama app, let's make it official if we can.

[2012-10-17 05:17] jihoonl opened #9 "Reviving pano stack in ROS"
pano stack in ros has been out-dated and not been maintained for 19months.
I am migrating this into turtlebot app stack to revive the stack and use it for turtlebot_panorama app.

The old information can be found in the link below.

http://www.ros.org/pano_ros

[2012-10-17 05:57] stonier commented on #9
Probably preferable if we could update that package in place, but it will do for now while testing.

[2012-10-17 11:02] corot commented on #1
I cannot find the code that publish bumper events as pointclouds. I sent an e-mail to the commiter

[2012-10-18 01:16] stonier opened #10 "Move kinect.launch into minimal.launch temporarily"
Move this out of the launchers (document which ones here) and put into minimal.launch so we can demo while kinect is being so unstable.

[2012-10-18 01:18] LucidOne commented on #10
Did you see rosmetalaunch? It cycles through the launch files
in /etc/ros/launch.d and starts them. Perhaps that should be enabled by
default.

On Wed, 2012-10-17 at 18:16 -0700, Daniel Stonier wrote:

[2012-10-18 01:36] jihoonl commented on #8
TODO list:
1. appify
2. change bgr to rgb format.
3. improve panorama quality.

[2012-10-18 01:39] jihoonl commented on #8
Appify(DONE)
- listed in turtlebot_bringtup/apps/turtlebot_apps.installed.
- app files in turtlebot_panorama/app
- tested
- Still it requires front-end interface

59198baffc4f8071284d97e6faa2d30f96d1faf5

[2012-10-18 02:00] jihoonl commented on #8
Another TODO:
Develop web App frontend

[2012-10-18 02:59] stonier commented on #10
Problem is though, the apps (android paired apps) are all starting kinect on the assumption it isn't bootstrapped. They'll all fall over if kinect is already launched. We just need to temporarily fix something so we aren't embarassed by openni dropping out on us so often in the middle of a demo.

[2012-10-18 05:43] stonier opened #11 "Test follower"
I think I had problems running follower in turtlebot for the first time.

Check its current status here, if it works, great. If not - go back to kobuki apps to work out what I changed there.

[2012-10-18 05:43] stonier commented on #11
Also, once done. Kill yujinrobot/kobuki_apps.

[2012-10-18 06:33] stonier opened #12 "Remove kinect_frames includes"
Remove these from all the turtlebot apps. We'll follow [tully's recommendation](turtlebot/turtlebot/issues/9) not to publish the extra frames and have everything defined in the xacros.

[2012-10-18 09:08] jihoonl commented on #8
1. appify
2. change bgr to rgb format.
3. improve panorama quality.
   (DONE)

d06d8a70c12ede9ae3b9a06fbd06074141aace0d

App frontend is left

[2012-10-18 09:18] stonier commented on #8
Can you make a note of what was important for quality?

[2012-10-18 09:26] corot commented on #1
I'm still waiting for the turtlebot code, but our version is ready

[2012-10-18 12:52] #12 closed, assigned to nobody

[2012-10-18 23:09] stonier commented on #1
Catch up with me this morning - need a couple of fixes to the bump code in kobuki - in particular the aboslute topic name needs to be made non-absolute.

[2012-10-19 00:43] jihoonl commented on #11
Follower Tested. working.

[2012-10-19 00:44] #11 closed, assigned to jihoonl

[2012-10-19 02:21] stonier commented on #8
- Turned out that moving really slowly doesn't introduce much blur.
- Taking alot of photos helps it.

Jihoon has two programs for both modes, continuous and start/stop/capture/rinse/repeat.

[2012-10-19 02:21] #8 closed, assigned to jihoonl

[2012-10-19 02:26] stonier commented on #10
- Comment all the kinect.launch includes in the apps (these get automatically called from android)
- minimal_plus_kinect launcher

[2012-10-19 05:14] jihoonl commented on #10
minimal_3dsensor.launch added in turtlebot_bringup/launch fb3213f5c91bb1741b938e170b8bbfa2ec6b12b5

[2012-10-19 05:48] jihoonl commented on #10
Tested(DONE)

[2012-10-19 05:48] #10 closed, assigned to jihoonl

[2012-10-19 06:46] jihoonl commented on #4
In my investigation, only one mongodb is running all the time.
wrapper.py in mongodb ros-pkg attempts to bind the same address as the /etc/init.d/mongodb one and it kills itself if the address is binded already. So there is no chance running two instances of mongodb.

Also, I have tested the apps with launch file which mongodb rospkg is commented out and worked fine if mongodb instance is running

[2012-10-19 06:47] jihoonl commented on #4
So my conclusion is we can directly use ubuntu's mongodb package

[2012-10-22 00:42] corot commented on #1
did it!

[2012-10-22 00:42] #1 closed, assigned to corot

[2012-10-31 01:51] stonier commented on #4
Ok, closing for now.

[2012-10-31 01:51] #4 closed, assigned to stonier

[2012-10-31 01:52] stonier opened #13 "Wanderer"
Jorge, can you give me a quick overview of what this is doing sometime (random walking I guess)? Should work out if we want this permanently as a 'turtlebot app' or just a kobuki test program.

[2012-10-31 01:57] stonier opened #14 "Clarify 'app' vs app"
Should make it clear here what is a turtlebot app and what isn't, or just have one turtlebot apps package which contains all .app, .launch, .interface, .icon files defining each official app. Core code can be outside in their own packages.

Note: having map making and map nav apps in turtlebot_teleop is confusing.

[2012-11-02 03:06] stonier commented on #13
Probably also need to think about making this compatible with create somehow.

[2012-11-02 03:11] stonier opened #15 "Velocity Command Manager"
Been talking about having a manager to control various inputs into /cmd_vel that allows you to prioritise incoming commands (obstacle avoidance control over teleop for instance) and also do velocity smoothing before relaying onto /cmd_vel.

Joystick teleop/keyboard teleop/android teleop/test motion patterns make the robot dance right now, which is fun, but it doesn't look or feel great teleop'ing

[2012-11-02 03:11] stonier commented on #15
Generalise the one we use on our other robots and put it into an open stack.

[2012-11-12 08:42] mmwise opened #16 "do we really want to depend on ecl?"
https://github.com/turtlebot/turtlebot_apps/blob/master/turtlebot_panorama/manifest.xml

[2012-11-12 12:13] stonier commented on #16
Oh, there...no. It shouldn't be. That one has snuck past me and I'll check it out.

We have the ecl stuff as a dependency of kobuki_driver though. I had thought about replacing it's components with boost, but in the end, ecl is much lighter and much less trouble for us to support for windows or cross compiling (and installations of). We've been using it internally for the very small arm cores for

[2012-11-12 12:22] stonier commented on #14
Refer to turtlebot/turtlebot_apps/issues/14

[2012-11-19 09:31] jihoonl opened #17 "Groovy topic throttler does not working properly"
rosrun topic_tools throttle <> <> <>

is not working.  It is being used in android teleop app.

The issue is created in here (https://github.com/ros/ros_comm/issues/26)

[2012-11-20 06:07] LucidOne opened #18 "follower broken in fuerte"
Not sure why, yet.

[2012-11-20 06:49] jihoonl commented on #18
namespacing in 3dsensor.launch is a little mess. I am testing now. I will update this issue when things are cleared.

[2012-11-21 03:11] jihoonl commented on #18
I confirmed that 3dsensor.launch does not stream pointcloud properly now. Will be fixed in a couple of days.
For immediate use, modify turtlebot_follower/app/follwer.launch

 remove <include file="$(find turtlebot_bringup)/launch/3dsensor.launch" />

and add
 <include file="$(find openni_launch)/launch/openni.launch" />

[2012-11-21 06:36] jihoonl commented on #18
Got it working. check out the lastest version.

[2012-11-21 13:37] #17 closed, assigned to nobody

[2012-11-29 05:44] corot opened #19 "Programable Buttons"
Will make our lives easier on next exibition

[2012-11-29 05:48] LucidOne commented on #19
On 11/29/2012 12:44 AM, corot wrote:

Can we make this a little more generic so it will have the same
interface as the IHE button mount accessory?
The buttons should generate a button message and there should be a node
that receives those messages and contains a mapping table to specify
which apps to launch.
I have no problem having it launch follower as the default mapping for
button F0

[2012-11-29 08:58] corot commented on #13
Outdated... we removed the wanderer

[2012-11-29 08:58] #13 closed, assigned to corot

[2012-11-29 23:34] bit-pirate commented on #19
2012/11/29 IHeartRobotics notifications@github.com

I like that! +1

##

Marcus Liebhardt
Adresse: Zimmer 403, 634-1 Seongsan-dong, Mapo-gu, Seoul, Republik Korea
Address: Room 403, 634-1 Seongsan-dong, Mapo-gu, Seoul, Republic of Korea
주소: 대한민국 서울특별시 마포구 634-1 성산동 4 층 403 호
Mobile / Mobilfunk: +82 10 3322 0566
Email: ich@marcusliebhardt.de ich@marcusliebhardt.de

[2012-12-02 12:56] #16 closed, assigned to nobody

[2012-12-02 12:59] stonier commented on #14
I've put them into 'turtlebot_core apps' for the moment so it's easy to identify where to find apps. Each 'app' is just launch and configuration for other software packages, i.e. meta-information.

 Needs to be thought out with a redesign of the app manager.

[2012-12-02 12:59] #14 closed, assigned to nobody

[2012-12-02 12:59] #9 closed, assigned to nobody

[2012-12-02 12:59] stonier commented on #18
But moving on to groovy...

[2012-12-02 12:59] #18 closed, assigned to nobody

[2012-12-05 11:11] bit-pirate commented on #15
I think we can close this, since we add this functionality in [yujin_ocs/cmd_vel_mux.](https://github.com/yujinrobot/yujin_ocs/tree/master/cmd_vel_mux).

[2012-12-05 12:01] #15 closed, assigned to corot

[2012-12-05 13:26] corot commented on #19
The first part is already there: kobuki buttons trigger pressed/released events.
So is trivial for any app to handle these events and do whatever they want

The app launcher can be interesting too, but I think is a different issue

[2012-12-06 00:42] stonier opened #20 "DepthImage_to_LaserScan"
Replace pointcloud_to_laserscan with this. Should be much more lightweight.
- Use the camera_driver nodelet only
- Run this on top

i.e. no PCL.

The source

Chad Rockey is the guy to email with questions.

[2012-12-06 06:20] corot opened #21 "Package warehousewg is replaced by warehouse-ros"
We need to update apps using database (I think only build / nav a map)

[2012-12-06 06:21] corot opened #22 "Openni is not publishing compressed images anymore"
Probably we need to compose the image chain outside openni.launch

[2012-12-06 08:58] bit-pirate opened #23 "pano_ros broken because of missing opencv_test dependency"
When trying to run the pano app, pano_ros' capture_server is crashing.
Looks like there is a missing dependency in open_cv. When pulling in stuff from open_cv, opencv_test can't be found.

[code]

Is that a bug in ROS' cv_bridge?

[2012-12-06 09:09] bit-pirate commented on #23
Filled a bug at the vision_opencv stack:
https://github.com/ros-perception/vision_opencv/issues/1

[2012-12-08 06:06] corot commented on #20
I gave a try to DepthImage_to_LaserScan and works fine. But it isn't still a deb package, so we will wait a little bit

[2012-12-10 10:19] corot commented on #21
Done

[2012-12-10 10:19] #21 closed, assigned to corot

[2012-12-10 10:21] corot commented on #20
Released as deb package. It's working but many times makes camera_nodelet_manager crash. I'll try how much performance we loss running it in a separated node.

[2012-12-11 00:42] bit-pirate opened #24 "Update turtlebot_teleop"
Just had a look at the teleop app and was surprised by the dependencies.
I can't find a reason, why it should depend on map_store and mjpeg_server (check includes and launch files).
Anybody knows why?

Furthermore, we should find a way to merge kobuki_keyop and turtlebot_teleop.

[2012-12-11 01:13] chadrockey commented on #20
What's the message when the nodelet manager crashes?

[2012-12-11 01:17] stonier commented on #24
These were for the app manager apps, now in turtlebot_core_apps. I shifted these deps there: 05ae86812d8b4f140916f03209a113de505d2e57

Jorge - when the image nodelet stuff is working properly, can you check why the turtlebot_core_apps/android_teleop is using mjpeg server?

[2012-12-11 01:58] chadrockey commented on #5
Hey, I looked into this.

It looks like there was a regression in image_transport_plugins.  As of version 1.8.7-0, this should be fixed.
http://www.ros.org/debbuild/groovy.html

Today, 12/10/12, the latest available from shadow-fixed and public is 1.8.5-1.

Commit that should fix it:
https://github.com/ros-perception/image_transport_plugins/commit/01258e08d15f375629dce3f87b43ded938b33443

[2012-12-11 02:21] chadrockey commented on #20
This pull requested launch file works for me under the latest groovy:
https://github.com/turtlebot/turtlebot/pull/38

If that pull request is accepted, then the apps that used to launch pcl_to_laserscan or _pcl_to_laserscan should be updated.

[2012-12-11 07:20] chadrockey commented on #20
I forgot to mention that I tested under the latest Groovy beta release on Ubuntu 12.04 64 bit.

What environment are you testing?  I'll see if I can duplicate the issue.

[2012-12-13 11:50] corot commented on #20
The new launch file is working fine. We are updating our apps to use it

[2012-12-13 11:52] corot opened #25 "Review turtlebot_navigation launch files"
There must be many stuff not working.

What's that on laser directory?

[2012-12-13 14:34] corot commented on #25
amcl_demo is now ok

[2012-12-17 01:11] corot opened #26 "Make an "auto docking" app..."
...launchable form android

[2012-12-17 05:07] corot commented on #25
I ignore laser directory by now; it filter laser contacts within the robot footprint, but I cannot see how this can be useful with kinect, as it doesn't detects obstacles closer than 40 cm.

[2012-12-17 05:07] #25 closed, assigned to corot

[2012-12-18 00:52] #26 closed, assigned to corot

[2012-12-18 00:55] corot commented on #20
Check how good/bad it is.... sometimes turtlebot looks like blind

[2012-12-18 01:04] corot opened #27 "Make android apps work with our new control system"
as soon as they get upgraded for groovy. Include also bumpers and cliffs in the navigation.

[2012-12-18 01:07] chadrockey commented on #20
If it's missing obstacles, you should check the "scan_height" parameter.  It defaults to 1 pixel which is a very narrow laser plane.  The old behavior was probably equivalent to something like 10-20 pixels.  It should be available through dynamic_reconfigure (once reconfigure_gui is working @zklapow).

CPU usage will be proportional to scan_height, since it controls how many pixels are merged into

[2012-12-21 15:25] stonier opened #28 "turtlebot_calibration not tested in groovy"
Need to do this on a t1.

[2012-12-21 15:25] stonier opened #29 "turtlebot_actions not tested in groovy"

[2012-12-21 15:27] stonier opened #30 "sort stack dependencies and roll a deb"

[2012-12-21 15:27] stonier commented on #30
bump version to 1.9.0

[2012-12-21 16:50] stonier commented on #30
Mostly done in this commit: d524dd60adecc4dcd36eeebb01d51d262b262d60

[2012-12-21 16:50] #30 closed, assigned to nobody

[2012-12-21 16:51] stonier opened #31 "Reinstate mjpeg server"
We don't need it to roll the deb, but the app launchers do actually use it.

Reinstate it in `turtlebot_core_apps/manifest.xml` and `stack.xml` once it has rolled a deb for groovy.

[2012-12-28 12:22] stonier commented on #31
Added it temporariliy in turtlebot_apps so we can roll a deb. Remove it as soon as bosch is rebuilding it.

[2012-12-28 12:39] stonier opened #32 "Review turtlebot apps"
Now openni is somewhat finalised and seems to be working ok, run through all the launchers in turtlebot_apps, upgrade them and make sure they're working well.
- <del>teleop (turtlebot_teleop and android)</del>
- <del>navigation (turtlebot_navigation and android)</del>
- <del>follower (turtlebot_follower and android)</del>
- <del>panorama (turtlebot_panorama and android)</del>
- <del>auto docking (

[2012-12-28 16:28] stonier commented on #32
Android teleop had a facelift 9c11cb36862f99ec0a48b06c8580726f3f086b22, but is still not publishing compressed images. I suspect there's a problem with the image_transport package - it's not discovering plugins, even if they're installed.

Following the issue here: https://github.com/ros-perception/image_common/issues/6

[2012-12-28 17:24] stonier commented on #29
Following up in #32.

[2012-12-28 17:24] #29 closed, assigned to nobody

[2012-12-28 17:25] stonier commented on #27
Following up in #32.

[2012-12-28 17:25] #27 closed, assigned to corot

[2012-12-28 17:25] #24 closed, assigned to bit-pirate

[2012-12-28 17:26] stonier commented on #22
Following up in #32 - there are some notes there about problems with the image transport plugins.

[2012-12-28 17:26] #22 closed, assigned to corot

[2012-12-28 19:21] LucidOne commented on #32
On 12/28/2012 11:28 AM, Daniel Stonier wrote:

I'm not sure if this is the right place but I'm going to -1 the new icon.
I think we should be aiming for something that is more stylistically
compatible with the default android icons instead of a glossy circle.

[2012-12-29 05:01] stonier commented on #32
The default android icons have a style?

[2012-12-29 05:08] stonier commented on #5
Looks good now.

[2012-12-29 05:08] #5 closed, assigned to nobody

[2012-12-29 05:09] stonier commented on #32
Compressed images in android teleop now working - robot battery isn't though.

[2012-12-29 05:10] chadrockey commented on #32
Well, ideally they will fit the following:
http://developer.android.com/guide/practices/ui_guidelines/icon_design_launcher.html

I believe this issue is about the turtlebot app interface?  Or app manager
interface?  The icons should match the Android icons to avoid confusion.

If this is about the apps themselves, ticket here and maybe we can update
them at or after the hackathon:

https://github.

[2012-12-29 05:14] LucidOne commented on #32
This is what I see as looking odd.
https://github.com/turtlebot/turtlebot_apps/blob/9c11cb36862f99ec0a48b06c8580726f3f086b22/turtlebot_core_apps/apps/android_teleop/android_teleop.png

On 12/29/2012 12:10 AM, Chad Rockey wrote:

[2012-12-29 05:21] stonier commented on #32
Not for the android apps themselves - just the app manager interface to give them something more consistent, stylish within the master chooser. The internal picture does match the android icons - where there is an android icon (chirp, joystick teleops dont).

[2012-12-29 12:12] stonier commented on #32
[screenshot](http://files.yujinrobot.com/images/tmp/appchooser_icons.png)

As I said before, these are the app manager icons only, not the android icons. They match in the sense that they use the same icon inside (my galaxy tab does a similar thing putting a backdrop on each icon when I hit the applications menu). I'm quite happy for a good redesign if someone will step up to do so - I just had a

[2012-12-29 15:32] stonier commented on #32
Robot battery in android fixed by https://github.com/turtlebot/turtlebot/commit/b4d5bfef5e78444b0243fa937e565daa615c6c68

[2012-12-29 16:17] stonier commented on #32
Apart from a deceleration smoothing problem (https://github.com/yujinrobot/yujin_ocs/issues/6), teleops are working well.

[2012-12-30 17:49] stonier commented on #32
navigation on pc and android sorted in 97fe7ce25871c421b1351e6375968b13a71ba95a. Also reinserted the logitech controller and updated the wiki for the other controllers.

[2012-12-31 10:06] stonier commented on #31
No longer needed - android apps weren't actually using it 73829323b193ca2f6669ab97a226e2c8d06a9822.

It was a rough hack for a web app ages ago (06007ced68d6353682e8140400c97c217d4617e7). Lets aim for a proper web infrastructure moving to hydra.

[2012-12-31 10:06] #31 closed, assigned to stonier

[2013-01-08 05:45] stonier opened #33 "Apps Wanted"
List of apps that would be nice to see people play/work on for addition to our core turtlebot app repository. Feel free to add ideas :)
- Turtlebot Recognition Library - get turtles to quite reliably detect each other.
- Turtlebot Identification Library - same as above with some way of visibly id'ing a turtle.
- Upgrade Follower - most popular app, can think of quite a few ways to apply tlc.
- <de

[2013-01-08 15:21] rgariepy commented on #33
On Tue, Jan 8, 2013 at 12:45 AM, Daniel Stonier notifications@github.comwrote:

[2013-01-09 00:18] stonier opened #34 "Dead reckoning tests in turtlebot_actions"
Let's make turtlebot_actions useful.

A standard battery of dead reckoning tests for turtlebot_actions move action server. Along with an android app to access them.

[2013-01-09 00:26] stonier commented on #34
Tracing out a circle of about 90cm radius is the one we've been using to test/check kobuki problems at very _low velocities_.

[2013-01-09 00:39] stonier commented on #19
Generic app launcher with mapping rules: :+1:

We have three buttons on kobuki - it'd be great to have a default node running that can do this. Even better if you can define B0 to execute the 'last app' and store the last executed app in $ROS_HOME/turtlebot.

[2013-01-15 07:15] LucidOne opened #35 "Joystick Teleop"
The button for the deadman switch seems to have changed.
On the logitech joystick it now maps to the left 'joystick pushed' button, which is about the worst possible option.

[2013-01-17 11:29] stonier commented on #35
Might have been my naive changes over christmas. We dont have a logitech joystick, so please send a pull request with preferred deadman params.

[2013-01-18 07:30] corot commented on #20
Thank you very much for your help (and for this package!).
Caught it. It's mostly intended for navigation, as the old good narrow scan, right? I'll keep around 10 pixels.

[2013-01-18 07:30] #20 closed, assigned to corot

[2013-01-21 07:56] corot opened #36 "Fix navi bump demo"
Once we have a suitable solution for safety controller, reignite the bump demo.

[2013-01-21 08:31] corot opened #37 "Flexible cmd_vel_mux reconfiguration"
Right now we use a fixed configuration. No good for someone who wants to do something different.

Possible approaches:
- Force apps to do dynamic reconfigure in _every app_.
- Write our own node to request current configuration, save it, send new configuration and then spin. Send the old configuration on shutdown. Add these to the app launchers, this will have the lifetime of the app.

@stonier -

[2013-01-28 10:36] corot opened #38 "Problem on Turtlebot_panorama when installed from deb packages"
No idea what is cv_bridge_boost, but looks like it's missing on the robot running just deb packages (yujin-kobuki1-laptop)

[ERROR] [WallTime: 1359369129.412966] bad callback: <bound method Subscriber.callback of <message_filters.Subscriber instance at 0x1c0a6c8>>
Traceback (most recent call last):
  File "/opt/ros/groovy/lib/python2.7/dist-packages/rospy/topics.py", line 683, in _invoke_callback

[2013-01-28 23:19] stonier commented on #38
Hmm, cv_bridge is installed so I'm wondering if cv_bridge missed a trick building it's deb.

[2013-02-07 08:39] stonier commented on #35
Changed the xbox360 for us: 7f968e8a40e4310a33f4a560d3b3b0926eead0d7

Please update the logitech and test when you can bill.

[2013-02-11 04:54] LucidOne commented on #35
We need to rename rumblepad2_teleop.launch to logitech_teleop.launch
It works with the new F### series joysticks from logitech and the Rumblepad2 was made by Logitech and is discontinued.

[2013-02-11 07:35] stonier commented on #35
Does it work for all logitech joystics?

[2013-02-11 07:36] LucidOne commented on #35
On 02/11/2013 02:35 AM, Daniel Stonier wrote:

It works for all wireless joysticks they currently sell.
I think that is close enough.

[2013-02-13 00:24] stonier commented on #35
2741efa0a5765c04285077d6c28af182ec41aa7c

[2013-02-13 00:24] #35 closed, assigned to nobody

[2013-02-16 01:38] #23 closed, assigned to bit-pirate

[2013-02-16 01:40] stonier commented on #32
Just panorama app bug and android app upload remaining. See #38.

[2013-02-16 01:40] #32 closed, assigned to stonier

[2013-02-20 23:47] corot commented on #38
Well, this issue vanished by itself. I have tried to reproduce in two different ros installations and doesn't happen anymore.

[2013-02-20 23:47] #38 closed, assigned to corot

[2013-04-16 03:01] stonier commented on #33
Sorry, closed the wrong issue.

[2013-04-16 03:03] stonier commented on #28
We had a fix for this come in on #39.

[2013-04-16 03:03] #28 closed, assigned to nobody

[2013-06-20 00:58] bit-pirate opened #41 "Catkinizing for Hydro"
Looking through the stack deps, I have found the below stacks/packages which haven't been catkinized yet. We would need to contact the maintainers to check, if and when these get catkinized.
- map_store [(kforge)](https://kforge.ros.org/mapstore/hg): currently no development happening
- navigation [(github)](https://github.com/ros-planning/navigation/tree/hydro-devel): looks like they are preparin

[2013-06-20 01:13] bit-pirate commented on #41
According to Jorge, the navigation stack is currently under heavy development and there are plans to get it catkinized for Hydro.

For map_store and slam_gmapping I have contacted Dave Hershberger. There are no official maintainers for these stacks and he has been the last one committing to each of them. Let's see, if there are any plans for catkinizing these. Maybe we have to allocate some time t

[2013-06-20 01:19] mikeferguson commented on #41
Just a note, slam_gmapping will be a fun one to catkinize, since it uses the old "download a tarball from wg, and build it", which I don't think exists in catkin....

[2013-06-20 01:24] chadrockey commented on #41
Ugh, yeah those are terrible.  Sicktoolbox used automake and the tarball method.  I ended up forking it entirely to github and just creating a cmake version that included all of the patches.

[2013-06-20 01:32] mikeferguson commented on #41
Yeah, I think that was the same thought for gmapping. Also just a note, before Vincent departed Willow, he did talk with the gmapping authors and got their blessing to create a github fork, hosted here: https://github.com/ros-perception/gmapping

[2013-06-24 07:46] mmwise opened #42 "turtlebot_rgbdslam should probably be a standalone app package"
By adding this package to turtlebot_apps the dependency tree becomes VERY large and it depends on currently unreleased code ccny_rgbd which is currently not called out in the package manifest but should be.

[2013-06-24 08:19] jihoonl commented on #42
I expected ccny rgbd slam to be catkinized at some point. which means that only rgbd slam would have large dependency.

But I see your point too. I will remove it from the repo.

[2013-06-24 08:50] jihoonl commented on #42
newapp branch is deleted.

[2013-06-24 08:50] #42 closed, assigned to jihoonl

[2013-06-24 12:11] jack-oquin commented on #41
Segbot has similar conversion requirements.

[2013-06-24 15:25] hershwg commented on #41
@vrabaud Do you have an opinion on the catkin-ization of  https://github.com/ros-perception/gmapping ?

Is there a problem with making it a catkin project directly?

http://ros.org/wiki/bloom/Tutorials/ReleaseThirdParty This bloom doc makes it sound like it's not that hard to release a non-catkin package with bloom in such a way that it plays nicely with catkin.  Sounds like all we need to do is a

[2013-06-24 15:32] jack-oquin commented on #41
@piyushk and I released a patched-up [libfreenect](https://github.com/ros-drivers-gbp/libfreenect-release) as a 3rd-party package. It was more difficult than we expected, but seems to work OK now.

It is a reasonable solution for the kind of problem you describe.

[2013-06-24 16:32] piyushk commented on #41
I'll add my two cents here. IMO the easiest way forward is @hershwg's first suggestion of making the fork a catkin project directly. gmapping has not changed in the last 5 years, and it's not clear if a 3rd party release that maintains ties to the original SVN repository has any benefit. Additionally, in terms of SLAM approaches, it is pretty old. I am not sure how relevant it will be a couple of

[2013-06-24 23:50] bit-pirate commented on #41
Out of curiosity, is there an alternative to gmapping out there - something less outdated and easier to be catkinized?

[2013-06-24 23:58] rgariepy commented on #41
Karto and Hector are similar and not difficult to work with, not sure how
hard they are to catkinize. I had someone here do a comparison study
throughout our office, but it's not yet done to my standards. In general,
gmapping seems to be the slowest, middling in robustness, and awful wrt
memory usage.

-Ryan

On Mon, Jun 24, 2013 at 7:50 PM, Marcus Liebhardt
notifications@github.comwrote:

[2013-06-25 00:51] tfoote commented on #41
There are two parts to gmapping which are currently conflated.  There's the
external 3rdparty package, and then the ROS interface.

Hector is probably the best alternative.  I expect it will be converted in
the future.  But I believe the authors are pretty busy at the moment with
another project.

On Mon, Jun 24, 2013 at 4:58 PM, rgariepy notifications@github.com wrote:

[2013-06-26 12:16] vrabaud commented on #41
the gmaping fork we created on GitHub (with Giorgio's approval) is just the 3rd party one. We could catkinize it if necessary. And it include the patches (and more) that we did in the hacky rosmake version.
Now, there is still the slam_gmapping one: that should be trivial too. Let me try to do both tonight.

[2013-06-26 14:34] jack-oquin commented on #41
I think we do want a catkinized version of gmapping. Despite its age and lack of activity, it has been useful for many in the ROS community.

The main reason Piyush and I used bloom 3rd-party packaging for **libfreenect** is because we did _not_ want to take over maintaining it. We wanted to keep the option of replacing it with some newer "official" version, should the upstream developers choose t

[2013-06-26 17:09] vrabaud commented on #41
sounds good, Should I merge slam_gmapping and gmapping ? make more sense to me to keep them as two packages.

[2013-06-26 18:59] mikeferguson commented on #41
I would keep them as two separate packages -- it's more inline with the ROS "thin-wrapper" ideal...

[2013-06-26 22:16] piyushk commented on #41
+1 for separate packages. The github gmapping repository will be useful if someone wants to use gmapping through cmake. Since it should be relatively easy to patch this upstream repository, the third party release (aka ros-<distro>-gmapping) should be relatively painless.

In case you don't have a reference already, take a look at [libsegwayrmp](https://github.com/segwayrmp/libsegwayrmp) and [segw

[2013-06-26 23:25] vrabaud commented on #41
ok guys, I kept them separate  and I catknized them. This is a first draft: gmapping + slam_gmapping compile for me  on Ubuntu Raring gcc 4.8.
slam_gmapping is fully catkinized.
gmapping is not: there are some folders that are just for GUI's I think. I'll do that later.

I'd be more than happy to have another official maintainer as I now have 51 packages to maintain :)

[2013-06-27 05:55] bit-pirate commented on #41
@hershwg already started catkinizing [map_store](https://github.com/ros-planning/map_store).

[2013-06-27 11:15] mikeferguson commented on #41
FYI https://github.com/ros-perception/slam_gmapping/issues/6

[2013-06-28 18:30] hershwg commented on #41
OK, https://github.com/ros-planning/map_store is catkinized and passes its test.  I haven't actually used it, so please let me know if there are https://github.com/ros-planning/map_store/issues .  I'll do a release if it works for you.

[2013-07-02 06:35] bit-pirate commented on #41
@corot let's test the map_store some time soon, so that @hershwg can proceed with the release.

[2013-07-03 09:32] corot commented on #41
map_store works like a dream.....

[2013-07-03 16:17] hershwg commented on #41
@corot thanks!  map_store release process is done on my end, now we wait for build farm etc.

[2013-07-18 02:48] corot commented on #41
All catkinized and ready to release

[2013-07-18 02:48] #41 closed, assigned to nobody

[2013-07-18 04:01] corot commented on #36
As we have decided to only maintain create; this can only be a TB2 app, so discarded by now

[2013-07-18 04:03] corot opened #43 "Adapt turtlebot_navigation configuration to hydro navi stack"
Also reuse experience with waiterbot navigation to do a better tunning

[2013-07-18 04:04] corot opened #44 "Migrate changelog from wos wiki to this repo"

[2013-07-18 07:19] corot commented on #44
I keep all pre-hydro on ros wiki, because it's very long, and well hierarchically organized.

[2013-07-18 07:19] #44 closed, assigned to nobody

[2013-07-22 03:00] corot opened #45 "Adapt configuration to hydro velocity smoother"
i.e. use the new parameter robot velocity feedback type.

[2013-07-22 11:15] #43 closed, assigned to corot

[2013-08-01 23:31] bit-pirate opened #46 "panorama: what is this app/pano_img_topic param?"
And where is it used?

[2013-08-02 00:17] jihoonl opened #47 "Make turtlebot apps work with Android apps"
Our efforts of getting rid of absolute namespace don't work well with the app manager namespacing. Use absolute namespaces where need and fix everything else.

Apps needing fixing:
- [x] turtlebot_follower
- [x] panorama
- [x] teleop
- [x] Auto dock
- [x] Make a Map
- [x] Map Nav
- [x] Map Manager

[2013-08-02 00:44] bit-pirate opened #48 "Get rid of absolute namespaces in the app launchers"
Currently we can't avoid this, because we are launching nodelets in the apps, which need to be loaded into a nodelet manager living in a completly different namespace, e.g. nodelet from `/turtlebot0123/camera/some_nodelet` into `/robot/mobile_base_nodelet_manager`.

In the future we probably can solve this issues using capabilities (https://github.com/osrf/capabilities/issues/2).

[2013-08-02 00:44] bit-pirate commented on #47
Let's fix them using absolute namespaces for now and improve them once we have capabilities. Follow this issue for that: https://github.com/turtlebot/turtlebot_apps/issues/48

[2013-08-04 23:33] bit-pirate opened #49 "PS3 and XBox360 teleop icons switched"

[2013-08-05 02:13] #49 closed, assigned to nobody

[2013-08-05 08:16] bit-pirate opened #50 "make_a_map: map view doesn't work"
Usually just shows a black picture and sometimes some orange artefacts.

[2013-08-05 09:24] bit-pirate opened #51 "turtlebot_core_apps: map_store not working"
Because it is missing its executables in the deb. Look here for details: https://github.com/ros-planning/map_store/issues/1

[2013-08-05 09:27] bit-pirate opened #52 "turtlebot_core_apps: turn map_manager into a rapp?"
Currently it's a standalone Android app and as it is now, I don't think it is working.

Shall we turn it into a rapp and add it to the official turtlebot core apps?

[2013-08-06 02:50] #52 closed, assigned to bit-pirate

[2013-08-06 02:54] bit-pirate commented on #50
When this issue is resolved, make sure that the navigation android apps (make a map, map nav, map manager) work well together with the rapps (namespace, topic flipping etc.) and mark the related. tasks at #47 as done.

[2013-08-06 02:55] bit-pirate commented on #47
The navigation apps are mostly done, but without a working map view I couldn't test everything, e.g. build and navigate a map. Once issue #50 is resolved, we can proceed with testing and fixing them.

[2013-08-06 03:50] bit-pirate opened #53 "auto_docking: shut down app when robot is docked"
Would be nice, if the app shuts down automatically, once the robot is docked (being charged). The chirp app does that, but I am not sure what is needed for auto docking to behave similar.

[2013-08-06 06:03] bit-pirate commented on #50
Follow this issue for details: https://github.com/ros-java/android_apps/issues/21

[2013-08-07 05:04] stonier commented on #53
The robot app stops. Does the robot docking app not stop once its docked?

[2013-08-07 05:35] bit-pirate commented on #53
Correct. The robot app stays active and one has to manually stop it.

[2013-08-07 05:56] stonier commented on #53
That's a bit odd - I would have thought the app would terminate itself on success.

@yhju any special reason for this?

[2013-08-08 01:20] yhju commented on #53
AutoDockingActionClient.py is simple action client.

It will be terminated automatically, when the result arrive from the action
server.

On Wed, Aug 7, 2013 at 2:56 PM, Daniel Stonier notifications@github.comwrote:

[2013-08-08 04:34] stonier commented on #53
Marcus was asking about whether the robot app terminates. I think you are saying the action client terminates - correct? The robot app doesn't.

[2013-08-14 06:35] corot opened #54 "Panorama app not working: robot spins forever"
at least when using it with android frontend

Also the pano image keeps our beloved smurfs color scheme (R and B flipped, if I remember properly)

[2013-08-14 06:38] corot commented on #46
Is not used by now: Android apps had harcoded topics names (only the app namespace is dynamic).

New app manager should fix this somehow.

Tracked here: https://github.com/robotics-in-concert/rocon_app_platform/issues/58

[2013-08-19 20:02] mirzashah opened #55 "turtlebot_apps/turtlebot_teleop/joystick_teleop: robot keeps moving even though new joy messages not coming in"
It seems that the joystick teleop hast the robot keep going even if new joystick messages aren't coming in. This works fine until you lose wifi with your robot and then it keeps going because the last joy message wasn't a full stop. The teleop for pr2 works a little different where the teleop node stops publishing Twist messages if Joy messages stop coming in.

I think for safety's sake, the turtl

[2013-08-19 22:50] tfoote commented on #55
yes, it should definitely timeout

[2013-08-19 23:43] bit-pirate commented on #55
Strange. I used those tools recently (2 weeks ago, testing ps3, xbox360 and
keyboard teleop) and remember the teleop tools behaving the way you expect @mirzashah https://github.com/mirzashah. I noticed one thing though:
Sometimes the joystick does not go back to absolute zero and hence keeps
sending velocity commands with low speeds.

What setup are you using? Hydro? Launching minimal + app?

2013

[2013-08-20 06:37] #33 closed, assigned to nobody

[2013-08-20 06:44] stonier commented on #45
Pretty sure, but confirm.

[2013-08-20 06:47] mirzashah commented on #55
@bit-pirate
Yes, I'm just using turtlebot_bringup/minimal.launch + joystick teleop.

Here's the problem I have. I have replicated the output of a PS3 controller for an Android device...specifically the nvidia shield. I have it rounding down to zero values that are close to zero. The controller itself is very precise, just as precise as a PS3 controller if not more so. Here's the difference: A PS3

[2013-08-20 06:48] stonier commented on #46
Can't change the whole app hardcoding now, but should at least remove the redundant rapp information to stop it from being confusing. e.g. https://github.com/turtlebot/turtlebot_apps/blob/hydro-devel/turtlebot_core_apps/rapps/panorama/panorama.rapp

[2013-08-20 06:49] mirzashah commented on #55
I bet this could be an issue at a large show/conference/exhibition where there's lots of bluetooth interference. You could be moving around a turtlebot and lose control of it.

[2013-08-20 06:55] stonier commented on #51
Pull requested and released.

[2013-08-20 06:55] #51 closed, assigned to bit-pirate

[2013-08-20 06:58] stonier opened #56 "Navigation dependencies missing"
Bugfixed in https://github.com/ros-planning/navigation/commit/c4a5e0b5fe66a898ef579d9a5fa6424b02359045

Just waiting for new release, remove sources from rosinstaller when done.

Watch here for the release commit: https://github.com/ros-planning/navigation/commits/hydro-devel

[2013-08-20 07:00] stonier commented on #53
I think from reading old ros users, it might not have api to shut down the nodelet from inside the nodelet.

If that is the case, the client should call the nodelet manager service to unload the nodelet, then shut down.

[2013-08-20 07:49] mirzashah commented on #55
lol, you know i could have patched this in the time it took to write this comment...i'll submit a pull request tomorrow :)

[2013-08-20 08:01] stonier commented on #54
@yhju talk to marcus about these issues. Are they the same as in groovy? Is the R&B problem new?

[2013-08-20 08:03] tfoote commented on #53
That is correct.  Your only way is to unload it using the service call to
the manager which isn't so great.

On Tue, Aug 20, 2013 at 12:00 AM, Daniel Stonier
notifications@github.comwrote:

[2013-08-20 08:18] bit-pirate commented on #55
hehe

+1

[2013-08-20 08:28] bit-pirate opened #57 "turtlebot_actions: fix new deprecated warning"
[code]

[2013-08-21 06:10] #36 closed, assigned to corot

[2013-08-21 06:14] corot commented on #45
Confirmed

[2013-08-21 06:14] #45 closed, assigned to corot

[2013-08-21 06:52] #57 closed, assigned to corot

[2013-08-21 08:04] corot opened #58 "turtlebot_actions/find_fiducial doesn't work"
Not surprisingly, as it's old and dying....

[2013-08-22 01:10] bit-pirate commented on #53
Jorge, just told me about roslaunch's `required` attribute (http://www.ros.org/wiki/roslaunch/XML/node#Attributes). So, it might be enough to set `required = true` for the client, since the client shuts down, once the robot is docked.

Btw @tfoote, I believe `required = true` is **not** the default as claimed in the wiki, right?

[2013-08-22 01:54] stonier commented on #53
Oh, didn't know about that.

I think a simple experiment should be informative. Another possible item to check is whether the terminology 'dies' as written on the wiki page refers to the node process finishing in general, finishing with a segfault or finishing with an error value.

[2013-08-22 23:42] tfoote opened #59 "transform scan to base link before computing scan angle in turtlebot_calibration"
see this ros.answers.org here:http://answers.ros.org/question/2238/turtlebot-odometryimu-calibration-fails-with

refiling: https://kforge.ros.org/turtlebot/trac/ticket/67

[2013-08-23 00:55] bit-pirate commented on #59
Tully, please assign new issues to the Hydro milestone, if you think we need to fix them for the release or TODO otherwise. Thanks!

[2013-08-24 03:30] corot opened #60 "Add bugtracker and repo info to package.xml"

[2013-08-24 08:14] corot opened #61 "Make good gmapping/amcl configurations."
Current parameters are legacy of TB1 and some are not reasonable at all.

[2013-08-24 08:31] #60 closed, assigned to corot

[2013-08-26 00:37] stonier commented on #50
What works...

[code]

[2013-08-26 06:55] yhju commented on #53
Done by a2c7caa41cd9560f915f0fef4e1adf46832fbc05.

[2013-08-26 06:55] #53 closed, assigned to yhju

[2013-08-26 08:26] bit-pirate opened #63 "turtlebot_teleop stopped working for simulation"
But it works with the real robot. Strange.

[2013-08-26 08:44] corot commented on #63
Fixed on https://github.com/turtlebot/turtlebot_simulator/commit/b0cbe736d99a26e154497df9d2e5938561438d11

[2013-08-26 08:44] #63 closed, assigned to corot

[2013-08-26 11:54] yhju commented on #54
**Root Cause:**

[`cv_bridge`](http://www.ros.org/wiki/cv_bridge) provides color conversion logic between `cv::IplImage` and `sensor_msgs::Image`. But some supported color conversions are obsoluted from the **groovy** distro.
- [evidence](https://github.com/ros-perception/vision_opencv/blob/groovy-devel/cv_bridge/src/cv_bridge.cpp#L119)

Take a look `getFormat` function of `cv_bridge` pacakge betw

[2013-08-26 11:55] #54 closed, assigned to yhju

[2013-08-27 23:58] corot commented on #54
woah!!!!  cool analysis of a problem/solution!

[2013-08-29 01:12] tfoote opened #64 "turtlebot navigation demo app is failing to build due to openni conflict"
I have no clue why this is failing: http://jenkins.ros.org/job/ros-hydro-turtlebot-navigation_binarydeb_quantal_i386/26/console
ON 5 of 6 platforms:

Yet is fine here: http://jenkins.ros.org/job/ros-hydro-turtlebot-navigation_binarydeb_quantal_i386/26/console

The failure is

[code]

However I cannot find any package in the release repos which depends on openni-dev.

This was previously tracked he

[2013-08-29 02:20] tfoote commented on #64
This is an underlying problem tracking here: ros/rosdistro#1895

[2013-08-29 02:20] #64 closed, assigned to nobody

[2013-08-29 04:18] bit-pirate commented on #46
Let's remove this unused information from all rapp files for now and add it again, once it is supported by the apps and app manager.

[2013-08-29 05:01] stonier commented on #56
Still not released, could use a bump for hydro.

Not urgent though as we explicitly (temporarily) depend on them ourselves in https://github.com/turtlebot/turtlebot_apps/blob/hydro-devel/turtlebot_navigation/package.xml.

Don't forget to remove these when navigation gets released again!

[2013-08-29 05:07] #46 closed, assigned to stonier

[2013-08-31 09:07] stonier opened #65 "Catkinization problems - pano_core"
[code]

Also some strange CMakeLists.txt:

[code]

What is system_lib? And why is find_package(OpenCV) called but never used?
In addition, boost is in there, so it should be in the catkin_package DEPENDS as well.

[2013-08-31 09:19] stonier commented on #65
- Error is from old debs, my bad.
- Since we do directly use opencv in this package, added it to the include_directories and target_link_libraries calls.
- Added Boost and Opencv to the catkin_package DEPENDS
- Removed the bizarre system_libs dependency from catkin_package DEPENDS.

[2013-08-31 09:19] #65 closed, assigned to stonier

[2013-09-03 11:09] corot commented on #50
All working like a dream now.

[2013-09-03 11:09] #50 closed, assigned to stonier

[2013-09-03 12:15] corot commented on #47
Here we go!

[2013-09-03 12:52] stonier commented on #47
Just releases to go ;)

[2013-09-03 12:52] stonier commented on #47
And the tf_change fix in rosjava.

[2013-09-10 06:50] bit-pirate opened #66 "Compile error in pano"
[code]

I did a fresh source check-out and rosdep claims all dependencies are installed. What is missing?

[2013-09-10 07:28] bit-pirate commented on #66
My fault. I had python 3.2 installed in addition to 2.7. Removing it solved this issue.

[2013-09-10 07:28] #66 closed, assigned to corot

[2013-09-27 01:35] corot opened #68 "Optimize the way we send tfs to android device"
Now we spam with the full tf tree wasting bandwith. Use instead tf_change topic.

[2013-09-27 01:36] corot commented on #47
All up and running now; we keep the tf_change in issue #68.

[2013-09-27 01:36] #47 closed, assigned to corot

[2013-10-30 01:12] kbogert opened #69 "turtlebot_calibration perpetually waits for scan"
The turtlebot calibration script seems to go in an endless loop saying "waiting for scan", kinect laser is never activated.

I fixed it by replacing the 3dsensor.launch include in turtlebot_calibration/launch/calibrate.launch with the corresponding include located in  turtlebot_navigation/launch/amcl_demo.launch

[code]

Seems to be due to the scan topic name, but I'm not sure.

[2013-11-11 02:12] MartinPeris opened #71 "turtlebot_teleop/src/turtlebot_joy.cpp: bug or undocumented feature?"
Hi there,

the variable "bool deadman_pressed_" on turtlebot_teleop/src/turtlebot_joy.cpp is never initialized on the constructor. This causes "deadman_pressed_" to be randomly initialized. Some times it will be initialized as "true" causing "TurtlebotTeleop::publish()" to publish a cmd_vel full of zeros until a button on the joystick has been pressed for the first time and "deadman_pressed_" is s

[2013-11-11 02:16] chadrockey commented on #71
@MartinPeris I think you're correct.  It should default to "false" or "don't send command".

[2013-11-12 06:36] MartinPeris commented on #71
The patch has been merged. Closing this issue. Thank you all

[2013-11-12 06:36] #71 closed, assigned to nobody

[2013-11-24 11:52] #56 closed, assigned to stonier

[2013-12-09 06:29] bit-pirate opened #73 "Add capability support for follower"

[2013-12-09 06:32] bit-pirate commented on #73
First need to solve this: https://github.com/turtlebot/turtlebot/issues/120

[2014-01-21 16:18] spragunr opened #76 "Hydro gmapping crashes with low-end CPU"
When running the gmapping demo on a machine with a modern, but low-end (Celeron 847) CPU the demo fails after move_base dies.  The exact same software setup (booting from the same iso) works fine on a Core i7-3820.  The gmapping demo works fine on the low-end CPU under Groovy.

With Celeron+Hydro, running:

`roslaunch turtlebot_navigation gmapping_demo.launch`

Eventually results in the following

[2014-01-23 05:06] bit-pirate commented on #76
Are you running a 32 or 64bit machine?

[2014-01-23 05:15] bit-pirate commented on #76
Also, did you test both the deb and a source compile?

[2014-01-23 13:31] spragunr commented on #76
The machine is 64bit.  I haven't had a chance to try compiling from source.  Would the best way to do that be to directly download the pointcloud library?  Or build the corresponding ROS package?

[2014-01-24 02:12] bit-pirate commented on #76
PCL is now a standalone library. Hence you will need to download and compile the PCL code. Just to be sure, I would compile the turtlebot & kobuki ROS packages as well.

[2014-01-24 13:18] spragunr commented on #76
I grabbed the zip version of the debian/quantal/hydro/pcl branch of this repository: https://github.com/ros-gbp/pcl-release .  After compiling and installing the package like this:

[code]

Everything works fine.  Obviously not a great long term solution; the manually installed files will be wiped out if I ever do an apt-get upgrade.

Probably this issue should be raised in the pcl-release package

[2014-03-02 14:59] bchretien opened #78 "Compilation fails for pano_core"
When compiling pano_core on Arch Linux, I get a ton of linker errors:

[code]

My patch currently involves adding this to CMakeLists.txt:

[code]

This may be an error in `opencv2` or `cv_bridge`, since include directories/libraries may be passed down to dependencies.

[2014-03-03 03:54] jihoonl commented on #78
The package uses opencv library directly. your comment is right. Can you make a pull request to fix?

[2014-03-03 10:19] bchretien commented on #78
@jihoonl done ;-)

[2014-03-23 17:19] spragunr commented on #76
I recently performed an apt-get update and it looks like this is no longer a problem.  Apparently the problem has been fixed in the pcl package.

[2014-03-23 17:19] #76 closed, assigned to nobody

[2014-03-24 19:53] chadrockey opened #81 "Release turtlebot_teleop bug fixes into Hydro"
There are a few important bug fixes that need released into Hydro:

https://github.com/turtlebot/turtlebot_apps/commit/ca9b69ff408a236f6b62e1e81eebd79801dba5ec

https://github.com/turtlebot/turtlebot_apps/commit/c1b9856058b459428163033fa46ee77a48944a09

The last release was October 13, 2013.

Is there anything blocking a release?  I think these are reasonable fixes that can be accepted without bre

[2014-03-24 23:52] jihoonl commented on #81
will do it today.

[2014-05-02 19:49] chadrockey opened #85 "Unused keyop cpp file"
It looks like this file isn't compiled or used?

If it isn't supported or executable, it should probably be removed.

https://github.com/turtlebot/turtlebot_apps/blob/hydro/turtlebot_teleop/src/turtlebot_key.cpp

[2014-05-03 04:04] bit-pirate commented on #85
Interesting find. Looks like keyboard teleop is implemented twice and only the python version is used at this moment.

+1 to clear this out (either use the C++ or Python version).

[2014-05-03 10:38] bit-pirate commented on #81
@jihoonl this is done, no?

[2014-05-03 10:45] bit-pirate opened #86 "Rename turtlebot_core_apps"
In order to stick to one name for robot/rocon apps through all packages and stacks, I suggest to rename `turtlebot_core_apps` to either to `turtlebot_core_rapps` or just `turtlebot_rapps`.

Thoughts (@stonier, @jihoonl)?

[2014-05-05 18:39] stonier commented on #86
:+1:

[2014-05-07 01:37] jihoonl commented on #85
I will see this when I have time.

[2014-05-07 03:32] jihoonl commented on #81
done.

[2014-05-07 03:32] #81 closed, assigned to nobody

[2014-05-11 08:36] stonier commented on #85
:+1: to clearing.

[2014-05-22 02:10] jihoonl commented on #85
cleared.

[2014-05-22 02:10] #85 closed, assigned to nobody

[2014-06-01 02:05] stonier opened #87 "Mat->Matx33d api change in image_geometry"
Image geometry in indigo made a minor api change. We need to update to reflect it.

[2014-06-01 02:06] #87 closed, assigned to stonier

[2014-06-01 02:07] stonier opened #88 "Find eigen properly on indigo"
Needs to use `cmake_modules`.

[2014-06-01 02:08] #88 closed, assigned to stonier

[2014-06-01 02:37] stonier commented on #86
We should also rename the rapps away from the `android_xxx` forms. That confused people and these rapps aren't actually android specific. Leaving this open till that is done.

[2014-06-09 09:00] stonier opened #89 "Y samples for a diff drive robot is one, not zero"
The dwa local planner actually nicely informs you about this and reset it to one for you, but update in the param file ourselves.

[2014-06-09 09:01] #89 closed, assigned to stonier

[2014-06-09 09:49] stonier opened #90 "Local costmap/obstacle layer should be off odom, not map."
Currently it's referencing map, but it should be using odom. When it's referencing map, when the robot jumps, the obstacles won't jump with it.

See also the tutorial at http://wiki.ros.org/navigation/Tutorials/RobotSetup

[2014-06-09 09:50] #90 closed, assigned to stonier

[2014-06-10 07:05] stonier opened #91 "In place rotations with dwa performance"
Currently the in place rotations that the dwa create have almost zero (e.g. 0.04 rad/s) angular velocity and for most robots, this command will not generate any movement.

This seems to be independant of the `min_rot_vel` parameter (i.e. this one seems to go unused).

[2014-06-10 08:04] stonier commented on #91
This particular [line](https://github.com/ros-planning/navigation/blob/9af9db89dfde6af028433cd2ca956aec7474e7b0/base_local_planner/src/simple_trajectory_generator.cpp#L191) is the magic for dwa.

[code]

A `min_trans_vel` of zero automatically passes this check and allows trajectories of negligible rotational velocity.

[2014-06-10 08:05] #91 closed, assigned to nobody

[2014-06-10 09:54] stonier opened #92 "amcl_demo footprint error - specify three points [indigo]"
Getting this

[code]

Is it a meaningful error? I haven't had time to explore yet, so this is a stub till I know.

[2014-06-10 09:55] stonier opened #93 "Try disabling smoother for amcl_demo [indigo]"
This theoretically will interfere with the ability of the robot to follow paths and a well followed path should be pretty smooth. Try disabling it.

Still useful for make a map though.

[2014-06-10 09:57] mikeferguson commented on #92
Are you sure that is coming from AMCL? I think it's actually coming from move_base, specifically costmap_2d. Is it also only happening the second time you start navigation with the same roscore up? If so, it's probably this bug: https://github.com/ros-planning/navigation/issues/206

[2014-06-10 10:23] stonier commented on #93
Ah, now I remember why we did this. The move base commands are fairly discrete. We use the smoother to basically interpolate.

The key criteria though is that the smoother and dwa local planner velocity and accelerations limits should be compatible.

[2014-06-11 00:09] stonier commented on #92
@mikeferguson I'm still yet a one week navistack newbie, so my references are likely to be a little wayward still! I used amcl here simply because it was occurring when starting the turtlebot amcl_demo.

And yes, just tested it and the situation you described is exactly what is happening.

[2014-06-11 00:28] stonier opened #94 "[amcl_demo] robot_radius infestation"
Seems the costmaps and inflation layers both have `robot_radius` dynamically reconfigurable parameters. The costmap parameter is 0.18 and inflation layer parameter is 0.46.
- What is the meaning for each parameter?
- 0.46 is a wierd value for this.

[2014-06-11 00:28] mikeferguson commented on #92
@stonier my current hack is to put that "delete" on the parameters in the namespace. The footprint stuff is fairly convoluted and I haven't had time to find a fix yet.

[2014-06-11 00:29] mikeferguson commented on #94
0.46 is, I believe, the default from the PR2. Most of the navigation stack defaults are from the PR2.

[2014-06-11 00:56] stonier commented on #94
Thanks fergs.

Looks like it's set by default by the [inflation plugin](https://github.com/ros-planning/navigation/blob/86c6aa6f6f72eb4cc8ad32a3f23fc3458b2a6894/costmap_2d/cfg/InflationPlugin.cfg#L12).

Odd thing though, it doesn't seem to have any effect. Local obstacles in rviz have a collision zone of 0.18 still, not 0.46 and dynamically reconfiguring it also doesn't seem to have any effect.

[2014-06-11 01:07] stonier commented on #93
Actually, I wonder if the path planning modules can be parameterised to update alot faster and more smoothly to remove the need for smooth interpolation outside. I haven't investigated these navigation parameters in detail yet.

[2014-06-11 02:22] stonier commented on #92
Yeah, I noticed that. I'll test it shortly.

[2014-06-12 00:24] #94 closed, assigned to stonier

[2014-06-12 00:25] kentsommer opened #95 "Interactive markers not responding [indigo]"
Interactive markers show up on RViz but do not move the robot at all.

[2014-06-12 00:27] stonier commented on #78
I believe this is closed.

[2014-06-12 00:27] #78 closed, assigned to jihoonl

[2014-06-12 00:31] stonier commented on #19
A cancel goal button (for navigation) would be nice.

[2014-06-12 09:51] corot commented on #19
:+1: cancel goal button

[2014-06-16 09:30] kentsommer opened #98 "pano_cv/opencv.cpp panorama integration silent fail [indigo]"
In the functon `convert_from_cvmat`, both the call `PyString_Check(m->data)` and `PyObject_AsWriteBuffer(m->data, &buffer, &buffer_len)` will cause the `pano_server` to die silently. m->data looks like it is returning an int in hex while m is simply a pointer to a location in memory (The last debug print I ran returned: "m->data print: 0x3" and "m print: 0x245a250")

PyObject_AsWriteBuffer is depr

[2014-06-16 12:37] jihoonl commented on #98
Can you link the file which causes the problem?

[2014-06-16 12:45] jihoonl commented on #98
https://github.com/turtlebot/turtlebot_apps/blob/indigo/software/pano/pano_py/src/pano_cv/opencv.cpp#L52

[2014-06-17 00:59] jihoonl commented on #98
@stonier cmake_modules dependency would help this issue? Since it is using numpy?

[2014-06-18 01:03] kentsommer commented on #98
**Progress!**

In `capture_server.py` I added a conversion from numpy.ndarray to cv2.cv.cvarray. That image can be passed to pcv.convertCvMat2Mat which does the final conversion to cv::Mat before finally passing the fully converted image to the stitch engine.

The turtlebot will now rotate while taking pictures and publishing them (verified).

**Current issues**
- The pano_server still dies silent

[2014-06-18 07:15] kentsommer commented on #95
This was an install issue. Tried on fresh indigo install and this is working, closing out.

[2014-06-18 07:15] #95 closed, assigned to nobody

[2014-06-18 07:17] kentsommer commented on #98
**Fixed/Updated**

See pull request #99 for more information. Closing this out since fix has been merged in #99

[2014-06-18 07:17] #98 closed, assigned to nobody

[2014-06-26 09:11] kentsommer commented on #86
@stonier, this can probably be closed out since #100 was merged.

[2014-06-27 01:17] jihoonl commented on #86
Done.

[2014-06-27 01:17] #86 closed, assigned to nobody

[2014-06-29 14:04] stonier commented on #19
I should get @kentsommer on this one...

[2014-06-30 01:47] stonier opened #102 "turtlebot_rapps/teleop should implement rocon_apps/teleop"
Right now its a standalone rapp. It should use `rocon_apps/teleop` to specify the public interface and subsequently be an implementation only.

[2014-06-30 08:14] kentsommer commented on #102
Closing this out since #101 was merged.

[2014-06-30 08:14] #102 closed, assigned to nobody

[2014-07-01 07:20] stonier opened #104 "Environment variable support for a map file"
We tried to do this in #103, but failed since it couldn't set a default value for optenv to point to a ros package path.

We can however do this with environment hooks. Actually this is a good way to set all of our variables for turtlebot. e.g. we need `turtlebot_bringup/env-hooks/25-turtlebot.sh.em`:

[code]

Then register these environment hooks in `turtlebot_bringup/CMakeLists.txt` with a line

[2014-07-01 07:20] stonier commented on #104
This is nice - it sets the variables so the user can just do a `env | grep TURTLEBOT_` to see what environment variables he can play with.

[2014-07-15 05:40] jihoonl commented on #104
Is this done?

[2014-07-15 06:44] kentsommer commented on #104
Yes. See: https://github.com/turtlebot/turtlebot/commit/c5658a74d79f9b626fa8562132b0d0238850d411 and 75f6f857e2c8bd48a4dc412869e22bba7cdd9be8

[2014-07-15 06:45] #104 closed, assigned to kentsommer

[2014-09-21 03:13] kbogert commented on #69
This was fixed with merge of #83

[2014-09-21 03:13] #69 closed, assigned to nobody

[2014-10-19 17:45] trainman419 opened #120 "Indigo release?"
The project I'm working on requires that the turtlebot_apps stack be released into Indigo. How can I help make the release process go more quickly?

It looks like this will also require releases of the `turtelbot_create` and `turtlebot` stacks, and is probably related to https://github.com/turtlebot/turtlebot/issues/139

[2014-10-20 15:38] ccard opened #121 "Issue with pano_py"
I am having a similar issue to [bit-pirate](https://github.com/turtlebot/turtlebot_apps/issues/66) and i made sure that I have the correct version of python installed and that didn't fix it.  I have looked extensively online and can't find a solution to this issue and I was wondering if you may have a solution. I am using ros indigo. My stake trace is bellow:

[code]

[2014-10-29 03:39] bit-pirate commented on #121
Please also state, what system you are running on and other important information, such as the python version you are using.

[2014-10-29 07:33] jihoonl opened #124 "tune gmapping parameters for gazebo turtlebot"
[turtlebot gmapping parameters](https://github.com/turtlebot/turtlebot_apps/blob/indigo/turtlebot_navigation/launch/includes/gmapping.launch.xml) seems not fit for gazebo simulated turtlebot. The robot jumps seriously a lot while slam and does not trust odometry...

The current param set works ok with real turtlebot though.

[2014-10-29 20:10] ccard commented on #121
i am using:
- ubuntu 14.04 (32 bit)
- ROS indigo
- python 2.7.6 (installed from source not apt-get), python 3 and 3.4 where installed when ros was installed and i can't remove them without also removing ros indigo
  also i found that when i was compiling (catkin_make) it was linking to libpython3.0my.so so i removed based on a  suggestion from this [post](https://bugs.launchpad.net/opencog/+bug/10

[2014-10-29 23:38] trainman419 commented on #120
Bump. Is there anything I can do to help out here?

[2014-10-29 23:47] stonier commented on #120
We were mostly waiting on time to put in capabilities and have a working rosjava on indigo but have been short on time. What we should probably do is start getting it out the door and insert those things as they arrive.

@jihoonl lets write an issue with a taks list of todos necessary for immediate release first thing next week. Austin can get involved there. Can also add him to some of these repo

[2014-10-29 23:51] stonier commented on #121
Looks rather like some python functionality is missing or not found.

A first step id suggest is checking that it works with trusty and a system install of python 2.7. If that does you can start checking what is different with your source install.

[2014-10-30 02:50] ccard commented on #121
I resolved the issue it turns out that there where left over programs from my upgrade from 12.10 to 14.04 doing a completely fresh install of ubuntu 14.04 fixed the problem.  Thanks for your help

[2014-10-30 02:50] #121 closed, assigned to nobody

[2014-11-03 05:49] stonier commented on #124
@jihoonl Is this a recent problem or was always a problem? I suspect its always been there because the commit history indicates the only change is the minimumScore update.

@AlexReimann, @mehditlili you might like to tune into this issue.

[2014-11-04 10:00] stonier commented on #120
@trainman419 I reinvigorated the indigo release schedule  meta-issue in https://github.com/turtlebot/turtlebot/issues/170. Also added you to the releasers repo so we can get started. Actually not too much to do to get a non-create/non-android release out there.

Closing here.

[2014-11-04 10:00] #120 closed, assigned to nobody

[2014-11-17 01:39] stonier commented on #61
Working well enough for now.

[2014-11-17 01:39] #61 closed, assigned to stonier

[2014-11-17 01:43] jihoonl commented on #124
Related ROS Answers : http://answers.ros.org/question/189159/bad-maps-produced-by-gmapping-in-simulation-with-feature-poor-environments/?answer=189171#post-id-189171

[2014-11-17 01:52] stonier commented on #124
Perhaps some steps to get started:
- Validate the [tutorial](http://wiki.ros.org/turtlebot_simulator/Tutorials/hydro/Make%20a%20map%20and%20navigate%20with%20it) works fine - this is a feature rich environment
- Setup a non-concert corridor environment (@jihoonl can you provide this?)
- Play around with the noise model for the odometry in the kobuki gazebo plugin
- Check the noise model for the 3d

[2014-11-17 03:48] jihoonl commented on #124
**How to start gazebo with corrider world**
1. get the latest code of turtlebot_simulator
2. Then ..

//empty, and playground are also available
1. Start gmapping, teleop, rviz and test.

[2014-11-24 09:23] jihoonl opened #126 "replace map_store dependency to world_canvas"
map_store is deprecated db management. replace with [world_canvas](https://github.com/corot/world_canvas)

[2014-11-24 09:30] jihoonl commented on #126
https://github.com/turtlebot/turtlebot/issues/170

[2014-11-27 03:27] howlong opened #127 "turtlebot_follower/launch/follower.launch has on small XML syntax error"
The original line 6 is:  " <group unless="$(arg simulation)"/> "
which results error when executing "$ roslaunch turtlebot_follower follower.launch ":
"Invalid roslaunch XML syntax: mismatched tag: line 41, column 4
The traceback for the exception was written to the log file"

After the modification of " <group unless="$(arg simulation)"> ",
everything works fine

[2014-11-27 03:54] jihoonl commented on #127
/ shouldn't be there ..fixed.

[2014-11-27 03:54] #127 closed, assigned to nobody

[2014-12-03 15:03] anuraj-rp opened #128 "A new Package does not build when turtlebot_teleop is a dependancy"
Hi,
I am trying to build a custom package with turtlebot_teleop as dependency. But the build fails with the following message. I am using ros-hydro on ubuntu 12.04.

[code]

I looked into the CMakeLists.txt of turtlebot_teleop. When I comment the LIBRARIES option in catkin_package() it builds successfully. I also don't see any source code in the turtlebot_teleop which would generate a library. I a

[2014-12-29 02:36] jihoonl opened #129 "revive move_base in make_a_map rapp"
It was disabled due to the lengthy loading time with slow laptop.

[2014-12-29 02:36] #129 closed, assigned to nobody

[2015-01-09 08:37] jihoonl opened #131 "add robot_pose_publisher as run_depend in turtlebot_rapps"

[2015-01-09 08:38] #131 closed, assigned to nobody

[2015-01-21 02:50] jihoonl commented on #128
If you have installed turtlebot_teleop deb, it only installs library. It does not install source code. What do you want to do in turtlebot_custom?

[2015-03-11 08:16] jihoonl opened #132 "migrate turtlebot interactive markers from turtlebot_interactions repo"
This is a servier side application which runs inside of robot

[2015-03-20 04:58] jihoonl opened #134 "amcl tutorial, use TURTELBOT_MAP_FILE env. variable instead of roslaunch arg"
To address https://github.com/turtlebot/turtlebot/issues/197

[2015-03-20 05:55] #134 closed, assigned to nobody

[2015-05-12 07:06] jihoonl opened #137 "add waypoint_nav rapp"

[2015-05-12 07:07] #137 closed, assigned to nobody

[2015-05-12 07:08] #126 closed, assigned to nobody

[2015-05-27 00:47] jihoonl opened #139 "make_a_map interaction"
should use rocon_apps/make_a_map as parent.

[2015-05-27 00:49] #139 closed, assigned to nobody

[2015-07-06 08:22] mikeferguson commented on #92
FYI, this has probably been fixed by https://github.com/ros-planning/navigation/pull/343

[2015-07-06 09:40] jihoonl commented on #92
Aight Thanks.

[2015-07-06 09:40] #92 closed, assigned to nobody

[2016-01-29 12:22] mikepurvis commented on #132
Consider dropping the custom source file in favour of: http://wiki.ros.org/interactive_marker_twist_server

[2016-03-04 02:58] nampi opened #143 "Cannot build turtlebot_apps package in indigo branch"
1. I created a workspace my_ws/src/
2. Cloned turtlebot_apps in src
3. In my_ws did catkin_make

I had an error. When I added "CATKIN_IGNORE" files in "software/pano" packages it worked.
Could you check, what is a problem with pano?

[2016-03-04 08:25] tfoote commented on #143
It's successfully building on the build farm. I'd need to see the error to say more, but my guess is that you are missing a dependency for it from your system.

`rosdep install --from-path WORKSPACE --ignore-src --rosdistro indigo` where you replace WORKSPACE will fix theproblem if that's the problem. see also http://answers.ros.org/question/75241/install-ros-dependencies-from-apt/

[2016-03-04 17:48] nampi commented on #143
[code]

[2016-03-08 09:01] stonier commented on #143
Some of those `FeatureDetector` references really ought to be prefixed with a `cv::` namespace. Perhaps you are using a compiler which is stricter in the lookups than whatever is building for us on the build farm for some reason?

What OS/g++ are you using?

[2016-05-16 12:36] muhammad96 commented on #127
what is the change that was made here??

[2016-06-16 19:51] 130s commented on #143
Just FYI. Although I'm not sure I'm on the same platform as OP was (the log says /opt/ros/indigo but which OS?), I was seeing the similar/same error issue on Kinetic-Xenial, and with `CATKIN_IGNORE` I'm now able to build with the following tweaks:
- CATKIN_IGNORE-d packages:
  - `pano_*`
  - `turtlebot_panorama` (due to pano_\* not building)
  - `turtlebot_rapps` (due to `warrehouse_ros` not build

[2016-06-29 00:56] tfoote commented on #128
Closing for now. If you have more questions please ask on http://answers.ros.org

[2016-06-29 00:56] #128 closed, assigned to nobody

[2016-10-06 20:41] anelliot opened #156 "Exploration package for turtlebot"
We are looking at enabling a ros explore package for turtlebot and are wondering if a) there are currently any plans to add this functionality, b) if anyone else has looked into doing this, and c) if there are any reasons why existing explore packages might be incompatible with the turtlebot?

[2016-10-14 20:23] tfoote commented on #156
I would expect that most existing explore packages that use relatively standard navigation stack configurations should also be able to be used with the TurtleBot. I would expect that to set things up conveniently a package that depends on the appropriate turtlebot navigation packages as well as the exploration implementation and provides the necessary configuration via launch files would be adaqua

[2016-12-07 18:57] mzaiady opened #159 "No such file or directory amcl.launch.xml under turtlebot_navigation package!"
I'm getting the following error

While running command

`roslaunch turtlebot_gazebo amcl_demo.launch`

The amcl_demo.launch contains

` <include file="$(find turtlebot_navigation)/launch/includes/amcl.launch.xml">`

While file locations changed in turtlebot_navigation:

...avigation/launch/includes/amcl.launch.xml → ...tion/launch/includes/amcl/amcl.launch.xml

[2016-12-07 19:55] mzaiady commented on #159
I used the following workaround until turtlebot_gazebo get updates,  by  updating the

`/opt/ros/indigo/share/turtlebot_gazebo/launch/amcl_demo.launch`

To the following (same logic included in the updated  turtlebot_navigation/launch/amcl_demo.launch ),

[code]
Replaced

   ` <include file="$(find turtlebot_navigation)/launch/includes/amcl.launch.xml">`

With:

[code]

also added
`<arg name="cust

[2016-12-07 20:34] mzaiady commented on #159
The issue also exist if you creating a new map, so to make my answer complete, also gmapping-demo.launch need to be updated:

` sudo gedit /opt/ros/indigo/share/turtlebot_gazebo/launch/gmapping_demo.launch`

and replace the content with :

[code]

[2016-12-07 21:03] kevincwells commented on #159
Good catch -- yes, the turtlebot_gazebo launch files should be updated to point to the right location.  Apologies for this oversight.  If you've made the changes, can you submit them as a pull request?

[2016-12-07 21:51] mzaiady commented on #159
I submitted one, 10 minutes ago.

[2016-12-19 21:05] rohbotics commented on #159
This can be closed, @mzaiady 's PR was merged.

https://github.com/turtlebot/turtlebot_simulator/pull/61

[2016-12-19 21:07] rohbotics commented on #143
As the panorama stuff was removed, and spun out into a separate repo, I think this can be closed now.

[2016-12-19 23:51] #159 closed, assigned to nobody

[2016-12-19 23:51] stonier commented on #159
Thanks for tracking some of these @rohbotics

[2016-12-20 00:12] kevincwells commented on #159
Yeah, @rohbotics has been on a roll today. Thanks for testing so many of these issues and pull requests!

[2016-12-20 02:18] #143 closed, assigned to nobody

[2016-12-20 02:53] Arthesfan opened #160 "problem with laser_amcl_demo.launch"
Thank you for your great work.I tried to launch laser_amcl_demo.launch
and failed,then I noted that [https://github.com/turtlebot/turtlebot_apps/blob/indigo/turtlebot_navigation/laser/laser_amcl_demo.launch#L11](url)
It seems that config document is not finished.

[2016-12-20 04:30] rohbotics commented on #159
Thanks! :blush:
I am interning at OSRF for my holiday break this week, so I started by going through pending PRs for turtlebot things.

[2017-04-30 14:19] wc-s opened #163 "turtlebot navigation parameters"
In this file:
turtlebot_apps/turtlebot_navigation/param/dwa_local_planner_params.yaml

It is mentioned that:
` max_rot_vel: 5.0 `
` min_rot_vel: 0.4  `

However, all the websites I can find seem to agree that the max rotational velocity of a Turtlebot2 is PI per second. Is there any reason this is 5.0 here?

[2017-05-01 20:16] r3n33 commented on #163
Good question.

I currently use the custom_param_file argument when including move_base to set my desired maximum x and rotation velocities. Definitely not sure why this is defaulted to 5.0 either.

[2017-09-05 09:16] duchengyao opened #164 "`move_base_turtlebot_laser.launch` in `turtlebot_navigation/laser/laser_gmapping_demo.launch`?"
There is no `move_base_turtlebot_laser.launch` but found in  `turtlebot_navigation/laser/laser_gmapping_demo.launch`

[code]

I just found `move_base_laser.launch` in laser directroy.

[2018-01-17 11:10] kishorekumar29 opened #167 "Turtlebot_follower is not subscribing or publishiing topics"
I am launching follower.launch, i could find the turtlebot_follower node running but it is not subscribing or publishing any topic. I am trying to setup the turtlebot_follower on a real robot. How to fix this?

[2018-03-05 07:02] Manujaya94 opened #168 "Turtlebot_navigation to Nvidia jetson"

[2018-03-05 07:03] Manujaya94 commented on #168
Hi , I am using Nvidia Jetson TX2 to my indoor robot , Can I use the turtlebot_Navigation to autonamous navigation   to my indoor robot
 Thank you

[2018-03-07 01:20] tfoote commented on #168
yes, the turtlebot navigation stack is designed to be flexible and extendable for other robots.

If you have more questions please ask on answers.ros.org following our support guidelines. http://wiki.ros.org/Support Please make sure to read through the guide for asking good questions such as making sure to have enough details.

[2018-03-07 01:20] #168 closed, assigned to nobody

[2019-01-25 23:26] xiaoyuch24 opened #170 "'std::bad_alloc' issue on navigation"
Hi everyone,

I am running ros-indigo under ubuntu-14.04. I got the following error when I sent a goal position in the Rviz.

![screenshot from 2019-01-25 18 23 11](https://user-images.githubusercontent.com/22250129/51778166-4d13b600-20ce-11e9-8dce-2fbde147c523.png)

What I did were:
1) roslaunch turtlebot_gazebo turtlebot_world.launch
2) roslaunch turtlebot_gazebo amcl_demo.launch
3) roslaunch tu

[2019-01-29 02:18] tfoote commented on #170
The usual reason for an allocation to fail is that you're out of memory. Make sure that you have enough memory overhead to allow it to grow in size when it begins executing the new behaviors. The planner is going to need to allocate memory to process the new plan.

[2019-02-08 18:35] tx0619s opened #171 "turtlebot01/map does not exist when running amcl_demo.launch for two turtlebots"
I am using Ubuntu14.04 and ROS Indigo to work on two turtlebots navigation. The way I configure the network is to run master_discovery_fkie and master_sync_fkie on each computer. Now I can see topics and services published from each computer.

Then I run `roslaunch turtlebot_bringup minimal.launch` and `roslaunch turtlebot_navigation amcl_demo.launch  map_file:=...`  on turtlebot01. The minimal.la

[2019-06-14 19:18] void-robotics opened #172 "For melodic?"
Hello,

Will this be ported to melodic?

Thanks,
Nathan

[2019-12-12 13:32] willzoe opened #173 "Integrated ZED stereo camera"
CUDA: 9.0
ZED SDK version: 2.8.3
Ubuntu 16.04
ROS Kinetic

I have a ZED stereo camera.
How to replace 3D sensors such as kinect, integrate ZED into the navigation package, and implement turtlebot2 mapping and navigation？

[2019-12-29 01:59] vikashranjan opened #174 "Origin of sensor out of map bounds."
I am using real-sense D435 for navigation. I get the following issue
```[ WARN] [1577583107.412647440]: The origin for the sensor at (-0.06, 0.03, 0.30) is out of map bounds. So, the costmap cannot raytrace for it.```

I am not sure where the sensor origin is set to fix this issue.

[2020-08-27 05:22] yuanzhedong commented on #173
Hi @willzoe, do you find the solution? I'm also trying the ZED camera.

[2020-08-27 05:46] willzoe commented on #173
Yes. I have integrated ZED camera on turtlebot2, and implemented mapping and location using RTAB-Map.

[2020-08-31 06:00] yuanzhedong commented on #173
That's great, is there any documentation you could share? Really appreciate it!

[2020-09-01 03:07] willzoe commented on #173
I have not sorted out the relevant documents. If you encounter some problems, I can do my best to answer you.

[2020-09-01 16:40] yuanzhedong commented on #173
Got it, thanks!

willzoe <notifications@github.com> 于2020年8月31日周一 下午8:07写道：

--
Sincerely,
Dong, Yuanzhe

[2020-10-21 16:51] NazishT opened #175 "No config folder in move_base_laser.launch"
The following lines exist in move_base_laser.launch in turtlebot_navigation/laser/move_base_laser.launch file.

[code]
however, there is no config folder.

Instead these lines should be:

[code]
pointing towards local and global costmap param.yaml files in turtlebot_navigation/param folder.

[2022-01-08 15:44] andrea01ricci opened #176 "How to import a Matterport map in .dae (or .obj or .xyz)"
Is it possible to import a map that is in format .dae (or .obj or .xyz) in order to follow this tutorial http://wiki.ros.org/turtlebot_navigation/Tutorials/Autonomously%20navigate%20in%20a%20known%20map ?

[2022-02-23 19:22] yuchen-x opened #177 "Turtlebot2 Navigation for ROS Melodic"
Hi

Is there going to be a branch for turtlebot2 navigation in ROS Melodic? Thank you!

[2022-08-19 07:28] PhilipAmadasun opened #178 "Turtlebot_rviz_launchers view_navigation.launch does not work properly"
Launching this file from a remote PC does not work properly. Neither the 2D_pose_estimate nor the 2D_nav_goal work. When I drag the arrows on the map, nothing happens. This is explained in more detail [here](https://answers.ros.org/question/404947/turtlebot2-rviz-2d_pose_estimation-and-2d_nav_goal-dont-work/)

[2022-09-13 09:33] Hasan-atc opened #179 "Turtlebot2 algorithm to navigate the whole map."
Hello everyone. How can I traverse the entire map by writing an algorithm myself on Turtlebot2? Similar to the S algorithm. Can you direct me if there is a ready system?

Systems Used :
  Ubuntu 18.04
  ROS-Melodic

Thank you !

[2022-10-27 19:32] #179 closed, assigned to nobody